port: 5554
master: false
crafts:
    - 192.168.59.3
    - 192.168.59.4
    - 192.168.59.107

protos:
    - id: 1
      fifo_in: /tmp/fifo1_in
      fifo_out: /tmp/fifo1_out
    - id: 2
      fifo_in: /tmp/fifo2_in
      fifo_out: /tmp/fifo2_out
